<html>
<head>
  <meta charset="UTF-8">
  <title>An uninspired promise example</title>
  <style type="text/css">
    @import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";
  </style>
  <style type="text/css">
    textarea.form-control {
      height:500px;
    }
  </style>
</head>
<body>
<div class="container">
  <fieldset class="row form-group">
    <p>Apologies for using jquery, but it gets the point across.</p>
    <label class="control-label" for="bbyKey">Please input your bby api key & press &lt;enter&gt;</label>
    <input id="bbyKey" class="form-control" type="text" disabled placeholder="BBY API Key"/>
  </fieldset>
  <div class="row">
    <div class="container col-sm-12 col-lg-6">
      <div class="w-query-one row">
        <p class="w-name"></p>
        <fieldset class="form-group">
          <label class="control-label">URL:</label>
          <input class="w-url form-control"/></label>
        </fieldset>
        <fieldset class="form-group">
          <label class="control-label">Response:</label>
          <textarea class="w-response form-control"></textarea>
        </fieldset>
      </div>
    </div>
    <div class="container col-sm-12 col-lg-6">
      <div class="w-query-two row">
        <p class="w-name"></p>
        <fieldset class="form-group">
          <label class="control-label">URL:</label>
          <input class="w-url form-control"/></label>
        </fieldset>
        <fieldset class="form-group">
          <label class="control-label">Response:</label>
          <textarea class="w-response form-control"></textarea>
        </fieldset>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(function () {
    var $BBYKey = $("#bbyKey");
    var queries = [
          {
              id:"one",
              name: "Cooktops",
              url: "https://api.bestbuy.com/v1/products(color=White&(categoryPath.id=abcat0904000))?apiKey={{apiKey}}&sort=bestSellingRank.asc&show=addToCartUrl,bestSellingRank,categoryPath.name,color,customerReviewAverage,details.name,details.value,features.feature,inStoreAvailability,longDescription,manufacturer,modelNumber,name,onlineAvailabilityText,thumbnailImage&format=json"
          },
          {
            id:"two",
              name: "Headphones",
              url: "https://api.bestbuy.com/v1/products(color=White&(categoryPath.id=abcat0204000))?apiKey={{apiKey}}&sort=bestSellingRank.dsc&show=addToCartUrl,bestSellingRank,color,customerReviewAverage,features.feature,inStoreAvailability,longDescription,manufacturer,modelNumber,name,onlineAvailabilityText,thumbnailImage&pageSize=2&format=json"

            }
          ];

    //BEGIN: Stuff you care about

    //Make an api call to the url specified in the 'query'.
    //Return a promise that's resolved on success or rejected failure of a call
    function apiCall(query, apiKey) {
      var deferred = $.Deferred();
      $.ajax({
        url: query.url.replace("{{apiKey}}", apiKey),
        success: function (data) {
          query.data = data;
          deferred.resolve();
        },
        error: function() {
          deferred.reject();
        }
      });

      return deferred.promise();
    }

    //Iterate through the list 'queries'. Making an api call for each query.
    //Handle the resulting promises resolution or rejection
    function doApiQueries(apiKey) {
      $(queries).each(function(i, query) {
        var $queryPanel = $('.w-query-' + query.id);
        apiCall(query, apiKey)
            .always(function() {
              $queryPanel.find('.w-name').text(query.name);
              $queryPanel.find('.w-url').val(query.url);
            })
            .done(function() {
              $queryPanel.find('.w-response').val(JSON.stringify(query.data, null, "  "));
            })
            .fail(function() {
              $queryPanel.find('.w-response').val("There was an error retrieving data.");
            })
      });
    }

    //END: Stuff you care about

    function bbyKeypressHandler(e) {
      if(e.keyCode === 13) {
        doApiQueries($BBYKey.val());
      }
    }

    $BBYKey.removeAttr('disabled');
    $BBYKey.on("keyup", bbyKeypressHandler);

  });
</script>
</body>
</html>